body {
    background-color: #e0e0e0;
}

#main {
    width: 50vh;
    height: 67.5vh;
    margin: 12.5vh auto;
    background-color: #606060;
    border-style: solid;
    border-width: 0.75vh;
    border-radius: 2vh;
}

#text-field {
    width: 45vh;
    height: 7vh;
    margin: 2vh auto;
    margin-bottom: 1vh;
    background-color: #d0d0d0;
    border-style: solid;
    border-width: 0.7vh;
    border-radius: 2vh;
}

#text {
    color: #000000;
    font-size: 6vh;
    margin-top: 0px;
    text-align: end;
    margin-right: 1vh;
    font-family: 'Trebuchet MS';
}

button {
    width: 10vh;
    height: 10vh;
    color: #ffffff;
    background-color: #0088ff;
    margin: 0.5vh;
    font-size: 5vh;
    font-family: 'Trebuchet MS';
    border-style: solid;
    border-width: 0.7vh;
    border-radius: 5vh;
}

button:hover {
    color: #efefef;
    background-color: #0078ef;
}

button:active {
    color: #dfdfdf;
    background-color: #0068d8;
}

.left {
    margin-left: 2.5vh;
}

#Zero {
    margin-left: 14vh;
}